.title{ 
    margin-bottom: 10px; 
    text-align:center; 
    width: 210px; 
    color:rgba(27, 215, 240, 0.712); 
    border: solid black 2px; 
    background:url(./images/b2.jpg);
    } 

.title h1{
    font-family: fantasy;
    font-style: italic;
    color: rgba(23, 172, 218, 0.965);
}

    input[type="button"] 
    { 
    background-color:rgb(43, 164, 245); 
    color: black; 
    border: solid rgb(238, 41, 41) 2px; 
    width:100%;
    height: 30px;
    background:url(./images/b1.jpg);
    } 

    input[type="text"] 
    { 
    background-color:rgb(63, 247, 237); 
    border: solid rgb(15, 8, 78) 2px; 
    width:100%;
    height: 30px;
    } 